* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 800px;
}
.keyboard__row {
    display: flex;
    gap: 5px 5px;
    width: 100%;
    justify-content: center;

}
.keyboard__key {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: blanchedalmond;
}
.key_width3 {
    width: auto;
    flex-grow: 1;
}
.key_width2 {
    width: 100px;
}
.key_space {
    width: auto;
    flex-grow: 1;
}
